.base {
    color: #c0a27e;
    background-image: url("https://www.cato.org/sites/cato.org/files/styles/optimized/public/2021-01/GettyImages-1226985345.jpg?itok=f9SULHjG%22");
    font-size: 15px;
    text-align: center;
    font-family: Anonymous Pro, monospace;
}

h1 {
    color: #c0a27e;
    background-color: #090d0c;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: Anonymous Pro, monospace;
    opacity: 0.9;
}

h2 {
    color: #c0a27e;
    background-color: #090d0c;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    font-family: Anonymous Pro, monospace;
    opacity: 0.9;
} 

p, ul, li{
    background-color: #090d0c;
    opacity: 0.9;
}