/** Reset **/
* {
    padding: 0;
    margin: 0;
}

/*MAIN*/
/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    font-size: 20px;
}

a:hover {
    background-color: #D7E3FC;
}

/*CLASSES*/
/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x:auto;
}

.body {
    background-image: url("Images/Main_Images/Pattern.png");
    color: #000033;
    font-family: "Alice", sans-serif;
    font-size: large;
}

.acc{
    color: #00006d;
}

.bookmark{
    color:#000033;
}

.mainImage {
    background-image: url("Images/Main_Images/Header.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }

 @media screen and (max-width: 600px) {
    div.mainImageSmall{
        background-image: url("Images/Main_Images/Header_Small.jpg");
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
     }
  }

.imageAsIcon {
    height: 60px;
    width: 60px;
    display: unset;
    margin-left: unset;
    margin-right: unset;
    margin: 5px;
}

.iconAsIcon{
    height: 150px;
    width: 150px;
    display: unset;
    margin-left: unset;
    margin-right: unset;
    margin: 5px;
}

.uniqueBorderMain {
    position: relative;
    top: 280px;
    z-index: 1;
    max-width: 100%;
    height: auto;
}

.uniqueBorder {
    position: relative;
    top: -15px;
    height: auto;
    z-index: 1;
    max-width: 100%;
    margin-bottom: -500px;
    margin-top: -100px;
}

.iconException{
    padding: 10px;
    color:#000033;
    text-decoration: none;
}

.centerExpection {
    text-align: left;
}

.reponsiveContainer {
    position: relative;
    min-height: 400px;
    padding-bottom: 50%;
    margin: auto;
}

    .reponsiveContainer iframe {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

div.polaroid {
    width: 80%;
    margin: auto;
    background-color: #EDF2FB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

div.polaroid:hover{
    width:100%;
    margin: auto;
    background-color: #EDF2FB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

.contain {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #000033;
    color: #EDF2FB;
    font-size: 16px;
    padding: 16px 32px;
  }

.darkBlueSection {
    background-color: #B6CCFE;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.marginTextRight{
    margin-right: 50px;
}

.marginTextWhole{
    margin-left: 10%;
    margin-right: 10%;
}

.marginTextBox{
    margin-top: 10px;
}

.sypnosisBox{
    border-color: #D7E3FC;
    border-style: outset;
    margin-top: 10%;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/*Animations*/
@keyframes floatingK {
    0% {top:270px}
    25% {top:285px}
    50% {bottom:285px}
    75% {top:285px}
    100% {top:270px}
}

.floating{
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    animation-name: floatingK;
    position: relative;
    animation-duration: 3s;
}